<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="E:/Java IntelliJ/P_O_M-JavaSelenium1">
        <classes>
            <class name="BrumateWebSite.TestCasesRepo.TestCaseMainPage">
                <methods>
                    <include name="logoTest"/>
                    <include name="wishListButtonTest"/>

                </methods>
            </class>
            <class name="BrumateWebSite.TestCasesRepo.TestCaseWishList">
                <methods>
                    <include name="bestSellersOptionTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>